version: "3.9"

services:
  app:
    build:
      dockerfile: docker/Dockerfile.dev
    volumes:
      - .:/var/www/html  # <-- map full project folder, not hidden folder
    environment:
      APP_ENV: local
      APP_DEBUG: true
    ports:
      - "5050:80"
      - "9000:9000"

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mysql_data: