version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev  # override in prod
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: local
      DB_HOST: mysql
      DB_DATABASE: florist
      DB_USERNAME: skadi
      DB_PASSWORD: aizat2002
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: florist
      MYSQL_USER: skadi
      MYSQL_PASSWORD: aizat2002
    ports:
      - "3306:3306"
    volumes:
      - sail-mysql:/var/lib/mysql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - sail-redis:/data

volumes:
  sail-mysql:
  sail-redis: