name: Deploy Bungabucket

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            REPO="https://github.com/Blackaiza/florist.git"
            if [ ! -d .git ]; then
                git clone -b ${{ github.ref == 'refs/heads/main' && 'main' || 'dev' }} https://${{ secrets.GIT_TOKEN }}@github.com/Blackaiza/florist.git .
            else
                git fetch --all
                git reset --hard origin/${{ github.ref == 'refs/heads/main' && 'main' || 'dev' }}
            fi

            if [ "${{ github.ref }}" == "refs/heads/main" ]; then
                echo "${{ secrets.PROD_ENV }}" > .env
                docker compose -f docker-compose.prod.yml down
                docker compose -f docker-compose.prod.yml up -d --build
            else
                echo "${{ secrets.DEV_ENV }}" > .env
                docker compose -f docker-compose.dev.yml down
                docker compose -f docker-compose.dev.yml up -d --build
            fi