name: Deploy Bungabucket

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            if [ "${{ github.ref }}" == "refs/heads/main" ]; then
              cd /var/www/bungabucket-prod
              git pull origin main
              echo "${{ secrets.PROD_ENV }}" > .env
              docker compose -f docker-compose.prod.yml down
              docker compose -f docker-compose.prod.yml up -d --build
            else
              cd /var/www/bungabucket-dev
              git pull origin dev
              echo "${{ secrets.DEV_ENV }}" > .env
              docker compose -f docker-compose.dev.yml down
              docker compose -f docker-compose.dev.yml up -d --build
            fi