name: Deploy

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            BRANCH=${GITHUB_REF##*/}

            if [ "$BRANCH" = "main" ]; then
              DIR="$HOME/bungabucket/bungabucket"
              COMPOSE="docker-compose.prod.yml"
            else
              DIR="$HOME/bungabucket/bungabucket_dev"
              COMPOSE="docker-compose.dev.yml"
            fi

            rm -rf $DIR
            git clone --branch $BRANCH https://${{ secrets.GIT_TOKEN }}@github.com/Blackaiza/florist.git $DIR
            cd $DIR

            docker compose -f docker-compose.yml -f $COMPOSE down || true
            docker compose -f docker-compose.yml -f $COMPOSE up --build -d